html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font: 16px/1.5 sans-serif;
}

svg {
  display: block;
  margin: 50px auto;
}

.bar {
  position: relative;
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar:hover {
  fill: red;
}

#tooltip {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s;
  background: lightblue;
  border: 1px solid gray;
  position: absolute;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}

#tooltip h2 {
  margin: 0;
}

#tooltip p {
  margin: 0 0 5px;
  font-style: italic;
}

footer {
  line-height: 1;
  text-align: center;
}

footer #credit {
  font-size: 0.8rem;
}
